@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&family=Sarabun:wght@200;400;500;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .btn {
    @apply inline-flex justify-center items-center no-underline border-0 py-2 px-6 align-middle select-none rounded shadow-md font-medium text-center transition duration-150 hover:shadow-lg focus:outline-none focus:ring-1 focus:ring-offset-transparent focus:ring-offset-1;
  }

  .link {
    @apply inline-flex no-underline py-0.5 px-1 rounded font-medium transition-colors duration-150 focus:outline-none focus:ring-0 focus:ring-offset-transparent focus:ring-offset-1;
  }

  .input {
    @apply block w-full py-3 px-2 bg-white border-2 border-solid border-gray-100 rounded appearance-none text-sm shadow-sm transition duration-150 focus:shadow-md focus:outline-none focus:ring-2 focus:ring-offset-transparent focus:ring-offset-1;
  }

  .page-section {
    @apply py-10 xs:py-12 md:py-14 xl:py-16;
  }
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.nav-list {
  display: none;
}

.menu-bars {
  position: relative;
  z-index: 75;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  transform: rotate(0deg);
  border-radius: 4px;
  cursor: pointer;
}

.menu-bars .line {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #1a1a1a;
  border-radius: 4px;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-bars .line-a {
  top: 4px;
}

.menu-bars .line-b {
  top: 12px;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-bars .line-c {
  top: 20px;
}

.menu-bars.opened .line-a,
.menu-bars.opened .line-c {
  top: 12px;
}

.menu-bars.opened .line-a {
  transform: rotate(135deg);
}

.menu-bars.opened .line-b {
  opacity: 0;
}

.menu-bars.opened .line-c {
  transform: rotate(-135deg);
}

.sticky-header #site-header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.stroke {
  position: relative;
  top: 1px;
  width: 100%;
  max-width: 80px;
  height: 3px;
  background-color: #777;
}

.stroke-left::before,
.stroke-right::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 8px solid transparent;
}

.stroke-left::before {
  border-left-color: #777;
  left: 0;
}

.stroke-right::before {
  border-right-color: #777;
  right: 0;
}

.app-screen {
  position: relative;
  display: flex;
  justify-content: center;
}

.app-screen::before,
.app-screen::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1000px;
}

.app-screen::before {
  z-index: -10;
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
}

.app-screen::after {
  z-index: -5;
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
}

.bg-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/testimonials/bg-testimonials.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  color: #fff;
}

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  border-radius: 4px;
  padding: 16px;
  background-color: #fdf2e9;
  border: 2px solid #e5e7eb;
}

.faq-header:hover {
  cursor: pointer;
}

.faq-header:focus-visible {
  outline-color: #e67e22;
}

.faq-footer {
  display: none;
}

.faq-header--is-active {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.faq-header--is-active ion-icon {
  transform: rotate(-180deg);
  color: #e67e22;
}

.faq-footer--is-active {
  display: block;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fdf2e9;
  padding: 16px;
  border: 2px solid #e5e7eb;
  border-top: 0;
}

.bg-cta {
  background-image: url("images/meals/eating.jpg");
}
